#############
## Python
#############

*.pyc
*.qrc

#############
## Scan files
#############
*.ana
*.asc
*.ply
*.anal
*.anar
#############
## pictures
#############

*.png
*.bmp
*.icn
*.jpg
*.jpeg

#############
## misc
#############
*.json
*.bat
#*.exe
*.dll
*.toc
*.pyz
*.pkg
*.log
*.manifest
*.txt
*.spec