#############
## Python
#############

*.pyc
*.qrc

#############
## Scan files
#############

*.asc
*.ply

#############
## pictures
#############

*.png
*.bmp
*.icn
*.jpg
*.jpeg

#############
## misc
#############

*.bat